
.hello{
    color: var(--colorBlack);
    background: var(--colorLight);
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
.theme-change-btn::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #42b983;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(45deg);
}

.theme-change-btn::before{
    width: 0%;
    transition: all 2s;
    z-index: -1;
    left: -30%;
}
.theme-change-btn:hover::before{
    width: 150%;
}
.theme-change-btn:hover{
    color: white;
}
.theme-change-btn {
    color: #2c3e50;
    overflow: hidden;
    position: fixed;
    border: #42b983 solid 2px;
    right: 10%;
    bottom: 10%;
    width: 100px;
    height: 30px;
    background: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    /*padding:10px 20px;*/
}